#page {
  color: #6699cc; }

#page {
  color: #19334d; }

#page {
  color: #1466b8; }

#page {
  color: #52667a; }

#page {
  color: #996633; }

#page {
  color: white; }

#page {
  color: red; }

#page {
  color: #cc98ff; }

#page {
  color: #664c7f; }

/* mix is not the same as +! */
#page {
  color: #7f7f7f; }

#page {
  color: white; }
