.main {
  color: #369;
  font-size: 15px;
  @media print {
    font-size: 12px;
  }
}

.sub {
  color: #369;
  font-size: 15px;
  @media screen and (max-width: 320px) {
    font-size: 35px;
  }
}

.portrait {
  color: #369;
  font-size: 15px;
  @media screen and (min-width: 321px) and (max-width: 480px) {
    font-size: 25px;
  }
}