# from https://github.com/github/gitignore/blob/master/Django.gitignore
*.log
*.pot
*.pyc
*.db
*.sqlite3

# temporary files
*~

# directories
node_modules/
compiled/

# sass/compass
.sass-cache

# compressed files
*.zip
