{% extends 'index.html' %}


{% block content %}
<div id="flipbook">
    <div class="hard">
        <div class="page-content"></div>
    </div>
    <div class="hard">
        <div class="page-content"></div>
    </div>

    <div>
        <div class="page-content">
            <h1>{{ object.username }}</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc erat quam, accumsan a massa non, auctor porta ante. Proin placerat, enim nec pharetra vulputate, nisl libero vestibulum arcu, vel consequat lorem metus in justo. Quisque mollis commodo ante, id placerat nibh pretium sed. Pellentesque ultricies, ligula sit amet placerat ullamcorper, dui neque egestas tellus, vitae feugiat risus libero eu nunc. Nunc consectetur libero quis neque lacinia iaculis. Vestibulum massa felis, viverra sit amet ultrices non, scelerisque ac ante. Aenean eget diam metus. Pellentesque ultricies sit amet tortor non sodales.</p>
            <p>Quisque commodo dignissim est, non malesuada magna. Cras non nulla pellentesque, consectetur odio a, suscipit justo. Quisque quis placerat tortor. Quisque ac arcu eu nibh commodo sodales vel aliquam metus. In in eleifend tellus, non feugiat mi. Suspendisse potenti. Duis neque erat, congue a mauris ac, feugiat fermentum purus. Proin id sollicitudin neque, ut accumsan ligula. Aenean sit amet dolor at dui molestie sagittis vitae at eros. Cras at blandit ante. Cras gravida nisl urna, ut euismod dui convallis sed. Nullam eu felis vel lectus tristique condimentum. Nunc elementum imperdiet nunc a tincidunt. Praesent volutpat enim et mattis molestie.</p>
            <p>Maecenas vel tincidunt sem. Proin eu risus convallis, ornare odio at, tempor metus. Nullam adipiscing vitae lorem nec malesuada. Phasellus convallis bibendum mauris, vitae auctor leo semper vitae. Pellentesque euismod cursus ipsum, id bibendum nibh. Etiam suscipit sem mi, sit amet venenatis mauris rutrum sit amet. Vivamus euismod, quam eu sollicitudin tincidunt, lectus tellus hendrerit nulla, ut laoreet dolor mi id nisi. Donec condimentum felis sed sapien elementum vulputate ut id dui. Mauris sem magna, feugiat ac lacinia et, lobortis eget orci. Suspendisse et dignissim dui. Phasellus in eros ut eros tristique consectetur. Aliquam eget aliquam turpis.</p>
            <p>Proin libero elit, sagittis et mauris quis, lobortis pulvinar est. Pellentesque porta lobortis enim, id luctus eros tempor sit amet. Nunc blandit massa in lorem viverra lobortis. Vestibulum porttitor lacus at nisl cursus, nec ornare urna pellentesque. Phasellus lacinia neque eros, non semper nisi semper id. In tincidunt risus sit amet est cursus, at pretium orci vulputate. Suspendisse eget eros sit amet magna placerat posuere. Curabitur tincidunt orci viverra, malesuada nunc id, pharetra risus. Nunc rutrum nec sapien eget molestie. Nunc ut elementum quam. Quisque sed hendrerit libero. Curabitur vitae sollicitudin elit, eget interdum dui. Cras at ultrices augue. Donec urna mauris, ultrices eu venenatis et, semper ac nunc.</p>
            <p>Curabitur tristique tellus ac vehicula pellentesque.Quisque adipiscing purus quam, ac pharetra ligula varius non. Aliquam tincidunt scelerisque nibh vestibulum feugiat. Etiam posuere placerat nisl ut euismod. Phasellus eget orci id nulla iaculis fermentum. Aliquam elit libero, faucibus non mauris et, porta hendrerit sapien. Cras ornare arcu id nunc semper, a imperdiet nisl tincidunt. Duis bibendum lorem quis eros mollis sollicitudin. Vestibulum id felis orci. Aenean a nisl justo.</p>
        </div>
    </div>

    <div>
        <div class="page-content">
            <img class="main-photo" src="http://lorempixel.com/output/animals-h-c-377-685-9.jpg">
        </div>
    </div>

    <div class="hard">
        <div class="page-content"></div>
    </div>
    <div class="hard">
        <div class="page-content"></div>
    </div>
</div>
{% endblock content %}